# Caddyfile
{$DOMAIN_NAME} {
    # Enable compression
    encode zstd gzip

    request_body max_size 10MB
    handle /api/* {
        reverse_proxy backend:3001
    }

    # Proxy all other requests to the client service
    handle {
        reverse_proxy client:3002
    }
}